@model guess_what2.Models.DifficultyAspectItem

<div class="row checklist">
    <label>
        @ViewData.Model.DisplayName
    </label>
    <div class="btn-group group1" data-toggle="buttons" id="preconditions_@ViewData.Model.InternalName">
        @Html.Partial("DifficultyAspectRatingControl", Tuple.Create("default",  ViewData.Model.InternalName + "NA",         "N/A",      true))
        @Html.Partial("DifficultyAspectRatingControl", Tuple.Create("success",  ViewData.Model.InternalName + "superb",     "Superb",   false))
        @Html.Partial("DifficultyAspectRatingControl", Tuple.Create("primary",  ViewData.Model.InternalName + "good",       "Good",     false))
        @Html.Partial("DifficultyAspectRatingControl", Tuple.Create("warning",  ViewData.Model.InternalName + "not_good",   "Not Good", false))
        @Html.Partial("DifficultyAspectRatingControl", Tuple.Create("danger",   ViewData.Model.InternalName + "bad",        "Bad",      false))
    </div>
</div>
