@model Io.GuessWhat.MainApp.ViewModels.ChecklistResultViewModel

<div class="panel-heading" style="position:relative">
    <div class="panel-heading">
        @Model.Model.Template.Title
    </div>
    <a class="btn btn-default" style="position:absolute;top:10px;right:11px;color:#000;" href="/c/new/@Model.Model.TemplateId"><b>Create a new checklist</b><br />based on this one</a>
</div>
<div class="panel-body" style="border-bottom: 1px solid #cccccc;background-color:#f9f9f9">
    <div style="margin-bottom:8px;margin-left:16px;">
        <img src="/badge/@(Model.Model.Id).png" alt="QA Badge (@Model.CheckedAndOkTotalCount Passed, @Model.CheckedAndNotOkTotalCount Not Passed, @Model.NotCheckedTotalCount Not checked)"/>
    </div>

    <div style="margin-bottom:16px;margin-left:16px;">
        <span class="label label-default" style="text-shadow:none;">Results</span>
        <span class="label label-success" style="text-shadow:none;">by @Model.Model.UserId</span>
        <span class="label label-primary" style="text-shadow:none;">at @Model.Model.CreationTime.ToString("g")</span>
    </div>
    <div>
        <span style="color:#333333;padding-left: 15px;">
            @Model.Model.Template.Description
        </span>
    </div>
</div>
