@model Io.GuessWhat.MainApp.ViewModels.ChecklistResultViewModel

<div class="panel-heading" style="position:relative">
    <div class="panel-heading">
        @Model.Model.Template.Title
    </div>
    <a class="btn btn-default" style="position:absolute;top:10px;right:11px;color:#000;" href="/c/new/@Model.Model.TemplateId"><b>Create a new checklist</b><br />based on this one</a>
</div>
<div class="panel-body" style="border-bottom: 1px solid #cccccc;background-color:#f9f9f9">
    <div style="margin-bottom:8px;margin-left:16px;">
        <a href="/c/result/@Model.Model.Id">
            <img src="/badge/@(Model.Model.Id).svg" type="image/svg+xml" alt="QA Badge (@Model.CheckedAndOkTotalCount Passed, @Model.CheckedAndNotOkTotalCount Not Passed, @Model.NotCheckedTotalCount Not checked)" width="300" height="132" />
        </a>
        <div>
            <div class="badge-action-bar">
                Copy results for <a href="#" id="jira-badgecode-copy">JIRA</a>, <a href="#" id="github-badgecode-copy">GitHub</a>, <a href="#" id="redmine-badgecode-copy">Redmine</a> or as a <a href="#" id="url-badgecode-copy">link</a>.
            </div>
            <input type="text" class="badgecode hidden" id="github-badgecode" readonly
                   value="[![@Model.CheckedAndOkTotalCount Passed, @Model.CheckedAndNotOkTotalCount Not Passed, @Model.NotCheckedTotalCount Not Checked](http://@(Model.OriginatingHost)/badge/@(Model.Model.Id).png)](http://@(Model.OriginatingHost)/c/result/@(Model.Model.Id))"/>
            <input type="text" class="badgecode hidden" id="jira-badgecode" readonly
                   value="[!http://@(Model.OriginatingHost)/badge/@(Model.Model.Id).png!|http://@(Model.OriginatingHost)/c/result/@(Model.Model.Id)]" />
            <input type="text" class="badgecode hidden" id="redmine-badgecode" readonly
                   value="!http://@(Model.OriginatingHost)/badge/@(Model.Model.Id).png!:http://@(Model.OriginatingHost)/c/result/@(Model.Model.Id)" />
            <input type="text" class="badgecode hidden" id="url-badgecode" readonly
                   value="http://@(Model.OriginatingHost)/c/result/@(Model.Model.Id)" />
            <span class="label label-warning hidden" id="badgecode-copy-notice">copied to clipboard</span>
        </div>
    </div>

    <div style="margin-bottom:16px;margin-left:16px;">
        <span class="label label-default" style="text-shadow:none;">Results</span>
        <span class="label label-success" style="text-shadow:none;">@Model.UserDisplay</span>
        <span class="label label-primary" style="text-shadow:none;">at @Model.Model.CreationTime.ToString("g")</span>
    </div>
    <div>
        <span style="color:#333333;padding-left: 15px;">
            @Model.Model.Template.Description
        </span>
    </div>
</div>
