@model Io.GuessWhat.MainApp.Models.EstimateAspectItem
@{ 
    var item = ViewData.Model;
}

<div class="row checklist">
    <label>
        @item.DisplayName
    </label>
    <div class="btn-group group1" data-toggle="buttons" id="complexity_@item.InternalName">
        @Html.Partial("DifficultyAspectRatingControl", Tuple.Create("rating-na",    item.InternalName + "NA",         "N/A",          item.SelectedDifficulty == 0))
        @Html.Partial("DifficultyAspectRatingControl", Tuple.Create("very-good",    item.InternalName + "low",        "Low",          item.SelectedDifficulty == 1))
        @Html.Partial("DifficultyAspectRatingControl", Tuple.Create("good",         item.InternalName + "normal",     "Normal",       item.SelectedDifficulty == 2))
        @Html.Partial("DifficultyAspectRatingControl", Tuple.Create("not-good",     item.InternalName + "high",       "High",         item.SelectedDifficulty == 3))
        @Html.Partial("DifficultyAspectRatingControl", Tuple.Create("bad",          item.InternalName + "very_high",  "Very high",    item.SelectedDifficulty == 4))
    </div>
</div>
